[Unit]
Description=App
Requires=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/pktv
ExecStart=/bin/bash -lc 'bundle exec foreman start -f Procfile.development'
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target
